.casalocalupdate-base {
    display: flex;
    align-items: center;
    flex-direction: column;
     
    
}

.casalocalupdate-base .locales-edicion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    
}
/*seccion de busqueda____________________________________________*/
.casalocalupdate-base .locales-edicion .section-busqueda {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    margin: 20px;
    
}

/*busqueda de los locales mediante un id____________________________________________*/
.casalocalupdate-base .locales-edicion .section-busqueda .busqueda-casalocal {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 280px;
    
}


/*tabla de busqueda____________________________________________*/
.casalocalupdate-base .locales-edicion .section-busqueda .tablelocal {
    width: 10%;
    overflow-x: scroll;
    margin: 10px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    
}


.casalocalupdate-base .locales-edicion .section-busqueda .tablelocal table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    word-break: break-all !important;
    white-space: nowrap !important;
    margin: 45px;
    text-align: left;
    border-collapse: collapse;
    
}

.casalocalupdate-base .locales-edicion .section-busqueda .tablelocal table th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    
}

.casalocalupdate-base .locales-edicion .section-busqueda .tablelocal table td {
    
    padding: 8px;
    text-overflow: ellipsis;
    background: #e8edff;
    overflow: hidden !important;

    color: #669;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.casalocalupdate-base .locales-edicion .section-busqueda .tablelocal table tr:hover td {
    background: #d0dafd;
    color: #339;
}

/*tabla de busqueda____________________________________________*/
/*seccion de busqueda____________________________________________*/

.casalocalupdate-base .update-datalocal
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.casalocalupdate-base .update-datalocal .casalocal-fields
{
    padding: 10px;
    
}

@media (max-width: 800px) {

    .casalocalupdate-base .update-datalocal {
      flex-direction: column;
    }
}

.casalocalupdate-base .update-datalocal .localdataupdate-fields
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

    gap: 0.5rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    border-radius: 10px;
    padding: 10px;
    border: black 1px solid;
}