.single-element-base
{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: rgba(128, 128, 128, 0.603);
    z-index: 3;

    scale: 1;
    transition: scale .3s ease-in-out;

    @starting-style{
        scale: 0;
    }
    
}

.single-element-base.hide
{
    scale: 0;
    transition: scale .3s ease, 
        display .3s ease allow-discrete;
    
}

 .single-local
{
    position: relative;
    font-size: 20px;
    margin: 0 auto;
    width: 70%;
    padding: 30px;
    padding-top: 0px;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}


/*zona de imagenes_______________________________*/

.single-element-base .single-local .imagenbox
{
    display: flex;
    width: 100%;
    justify-content: center;
    /*border: black 1px solid; */
}

.single-element-base .single-local .imagenbox .imagen-zone
{
    display: grid;
    width: 90%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    place-items: center;
    border-radius: 20px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    
    /*border: black 1px solid; */
}

.single-element-base .single-local .imagenbox .imagen-zone img
{
    width: 100%;
    height: 100%;
}
.dato-carta-lugar
{
    font-size:3vw;
}

.dato-carta
{
    font-size:3vw;
    min-width: 10%;
    max-width: 100%;
}

.single-element-base .single-local .dato-carta-titulo
{
    width: 100%;
    font-weight: 700;
    font-size:3vw;
}

.single-element-base .single-local .imagen-zone img
{
    width: 600px;
    height: 280px;
    margin-bottom: 5px;    
}
/*end zona de imagenes_______________________________*/

.descripcion
{
    width: 20px;
    text-align: justify;   
    font-size:2vw;
}

.header-casalical
{   
    position: sticky;
    display: absolute;
    display: flex;
    top: 0%;
    left: 0%;
    justify-content: space-between;
    /*border: black 1px solid; */
}

.single-element-base .single-local .status-casalocal
{
    background-color: #fff;
    padding: 3px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    width: fit-content;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #25D366;
    color: white;
    font-size:3vw;
    opacity: 0.8;
}

.single-element-base .single-local .status-casalocal:hover
{
    opacity: 0.5;
}

.single-element-base .single-local .close
{
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 20%;
    background-color: #d32525;
    color: white;
    opacity: 0.8;
}

.single-element-base .single-imagen{
    display: flex;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    
    scale: 1;
    transition: scale 0.3s ease-in-out;
    @starting-style{
        scale: 0;
    }
}

.single-element-base .single-imagen.hide{
    scale: 0;
    transition: scale .3s ease, 
        display .3s ease allow-discrete;
}

.single-element-base .single-imagen img
{
    width: 100%;
    object-fit: contain;
}

